@charset "UTF-8";
/* CSS Document */

#contact-form {
  text-align: center;
  padding-top: 50px;
}
#contact-form h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
#contact-form h3 a {
  display: inline-block;
  padding-top: 60px;
  background: transparent url("../img/icon-mail2.png") no-repeat center top;
  color: #fff;
  cursor: pointer;
}
#contact-form h4 {
  font-size: 24px;
  font-weight: 200;
  color: #c5c4c4;
  margin-bottom: 30px;
}
#contact-form form {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  width: 530px;
  max-width: 100%;
}
#contact-form form form-control,
#contact-form form textarea {
  font-size: 14px;
  color: #ffffff;
  font-weight:bold;
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  max-width: 100%;
  font-family: 'Roboto', sans-serif; 
  font-weight: 200; 
  font-style: normal;
  align-content:center; 
}
#contact-form form textarea {
  min-height: 175px;
  background-color: #ffffff !important;
  width:100%;
  color: #555 !important;
  width:100% !important;
}
#contact-form form .name,
#contact-form form .email {
  width: 350px;
}

